.part1 {
    border: 1px solid;
    background-color: rgb(33, 31, 31);
    height: 350px;
    width: 100%;
}

.part1 p {
    color: lightskyblue;
    padding-top: 80px;
    font-size: 50px;
}

.part2 {
    background-color: lightskyblue;
    height: 300px;
    width: 100%;
}

.part2 p {
    text-align: center;
    font-size: 100px;
    padding-top: 40px;
}